@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background: transparent;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
}

.container {
    font-family: 'Quicksand', sans-serif;
}

.music-player {
    background: transparent;
    height: 40%
    width: 100%;
    max-width: 1500px; 
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: left;
    gap: 5px;
}

#music-icon {
    height: 175px;
    width: 175px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0px;
    padding: 0px;
    max-width: 1500px
}
.info h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #1c1c1c;
    max-width: 1500px;
}
.info h3 {
    margin: 0;
    font-size: 0.8rem;
    color: #f5f5f5;
    max-width: 1500px;
}

.control-bar {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.control-bar img {
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.control-bar img:hover {
    transform: scale(1.1);
}
#waveform {
    height: 150px; /* Adjust height of waveform */
    length: 150px
}
