@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background: transparent;
    margin: 0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden
}

.container {
    font-family: 'Quicksand', sans-serif;
}

.music-player {
    background: transparent;
    height: 100%
    width: 100%;
    max-width: 1500px; 
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: left;
    gap: 7px;
}

#music-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.waveform {
    height: 20%
}

.info {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0px;
    padding: 0px;
    max-width: 1500px;
    height: 20%;
}
.info h1 {
    margin: 0;
    font-size: 0.8rem;
    color: #f0f0f0;
    max-width: 1500px;
    height: 100%
}
.info h3 {
    margin: 0;
    font-size: 0.6rem;
    color: #d6d2d2;
    max-width: 1500px;
}

.control-bar {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: right;
    margin-top: 2px
}

.control-bar img {
    height: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.control-bar img:hover {
    transform: scale(1.1);
}

#waveform {
    height: 50px; /* Adjust height of waveform */
    length: 50px
}

@media screen and (max-width: 768px) {
}
