@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background: #9e9e9e;
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: left;
}

.container {
    font-family: 'Quicksand', sans-serif;
}

.music-player {
    background: #9e9e9e;
    width: 75%;
    max-width: 1500px; 
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: left;
    gap: 5px;
}

#music-icon {
    height: 175px;
    width: 175px;
    border-radius: 0px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0px;
    padding: 0px:
}
.info h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #f5f5f5;
}
.info h3 {
    margin: 0;
    font-size: 0.6rem;
    color: #1c1c1c;
}

.control-bar {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.control-bar img {
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.control-bar img:hover {
    transform: scale(1.1);
}
